<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - FitTracker</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>

<body>

    <nav class="sidebar">
        <h2 class="logo">FitTracker</h2>
        <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="rutinas.html">Rutinas</a></li>
            <li><a href="ejercicios.html">Ejercicios</a></li>
            <li><a class="active" href="perfil.html">Perfil</a></li>
        </ul>
    </nav>

    <header class="topbar">
        <h1>Perfil</h1>
    </header>

    <main class="content">
        <section class="card">
            <h2>Samuel Rendón</h2>
            <p>Aprendiz SENA</p>
            <p>Peso: 76kg · Altura: 1.76m</p>
        </section>
    </main>

</body>
</html>
